.appbarcolor{
    color: bisque;
    
   font-weight: 500;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    padding-top: 2%;
    
    

    
    
   
}
.navtext{
    color: #7091AB;
}

/* .img{
    background-image: url(https://images.pexels.com/photos/7704220/pexels-photo-7704220.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
   
}
.img:hover{
    background-image: url(https://images.pexels.com/photos/8536926/pexels-photo-8536926.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  
} */