body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0rem;
    right: 0rem;
    scroll-behavior: auto;
  

    
}


.appbarcolor{
    color: bisque;
    
   font-weight: 500;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    padding-top: 2%;
    
    

    
    
   
}
.navtext{
    color: #7091AB;
}


.card:hover{
    box-shadow: 0.2px 0.3px  10px 7px rgb(136, 132, 132);
    transform: translateX(-15);
    



}


a{
    color: cadetblue;
    padding: 7px;
}
a:hover{
    text-align: center;
    color: rgb(84, 103, 104);
}

::-webkit-scrollbar{

    width: 0px;
}
::-webkit-scrollbar-thumb{
    width: 0px;
}
@media(max-width:1153px){.shown{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    align-items: center;
}}

@media(max-width:994px){.shown{
    display: grid;
    grid-template-columns: auto auto auto  ;
    align-items: center;
}}

@media(max-width:596px){.shown{
    display: grid;
    grid-template-columns:auto auto ;
    align-items: center;
    max-height: min-content;
    max-width: min-content;
}}
@media(max-width:400px){.shown{
    display: grid;
    grid-template-columns:auto  ;
    align-items: center;
 
}}